*{
    margin: 0px;
    padding: 0px; 
    font-family: 'Lato', sans-serif; 
}
.nav-container{
    display: flex;    
    align-items: center;
    justify-content:space-around;
    width: 100%;  
    height: 20vh;  
    /* background-color: rgba(243, 188, 188, 0.781); */
    margin: auto;    
    padding: 5px;
}
a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    background-color: plum;
    color: white;
    border: none;
    border-radius: 2px;
  }
  

.menus{
    color: plum;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;    
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    margin: auto;
    background: rgba(229, 84, 115, 0.10);
}
/* .title-container{
} */
.banner-img{
    margin-top: 170px;
}
.title{
    display: flex;
    width: 708px;
    margin: auto;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}
.description{
    display: flex;
    /* width: 634px; */
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}
.btn{
    background-color: #E55473;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}
.feature-content{
    margin-top: 110px;
    margin-bottom: 50px;
    text-align: center;    
}
.feature-title, .deal-title, .instagram-content, .subscribe-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.feature-description, .deal-description, .insta-description, .subscribe-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 20px;
}
.flowers-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 70%;
    margin:auto;
    gap: 24px;
}
.flower-containers div{
    margin: auto;
    width: 450px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;

}
.flower-1{
    margin-top: 110px;
    
    
}
.flower-2{
    margin-top: 110px;
    margin-left: 50px;
    
}
.flower-3{
    margin-top: 70px;
    margin-left: 50px;
    
}

.flower-containers h3{
    color: #272727;
/* text-align: center; */
font-size: 24px;
font-style: normal;
font-weight: 700;
text-decoration-line: underline;
padding-top: 32px;
}
.pink-bg-color{
    background: rgba(167, 33, 98, 0.15);
}
.sky-bg-color{
    background: rgba(5, 151, 160, 0.15);
}
.mint-bg-color{
    background: rgba(71, 125, 17, 0.15);
}
main>div{
    height: 100vh;
}
.deal-container{
    width: 100%;
    height: 620px;
    margin:auto;
    background-color: rgba(229, 84, 115, 0.05);;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}
.deal-details{
    text-align: center;
}
h2>span{
    color: #E55473;
}
.instagram-container{
    margin-top: 100px;
    margin-bottom: 70px;
    height: 620px;
    

}
.insta-pictures{
    margin-top: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.subscribe-container {
    width: 80%;
    height: 450px;
    margin: auto;
    text-align: center;
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .subscribe-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    
  }
#your-email{
    padding-left: 10px;
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background: #FFF;
}
/* .subscribe-email-full-section{
    margin: 120px;
} */

footer{
    width: 100%;
    height: 450px;
    margin-top: 150px;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(167, 164, 164);
    padding: 20px;
}

.footer-description{
    color: rgba(255, 255, 255, 0.849);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 20px;
}
.footer-title{
    color: rgba(255, 255, 255, 0.849);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}