*{
    margin: 0px;
    padding: 0px; 
    font-family: 'Lato', sans-serif; 
}
.nav-container{
    display: flex;    
    align-items: center;
    justify-content:space-around;
    width: 100%;  
    height: 20vh;  
    /* background-color: rgb(245, 241, 241); */
    margin: auto;    
    padding: 10px;
}

.menus{
    color: plum;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    margin: auto;
    background: rgba(229, 84, 115, 0.10);
}
/* .title-container{
} */
.banner-img{
    margin-top: 170px;
}
.title{
    display: flex;
    width: 708px;
    margin: auto;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}
.description{
    display: flex;
    /* width: 634px; */
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}
.btn{
    background-color: #E55473;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}
.feature-content{
    margin-top: 150px;
    text-align: center;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 20px;
}
.flowers-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 70%;
    margin:auto;
    gap: 24px;
}
.flower-containers div{
    margin: auto;
    width: 450px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;

}
.flower-1{
    margin-top: 110px;
    
    
}
.flower-2{
    margin-top: 110px;
    margin-left: 50px;
    
}
.flower-3{
    margin-top: 70px;
    margin-left: 50px;
    
}

.flower-containers h3{
    color: #272727;
/* text-align: center; */
font-size: 24px;
font-style: normal;
font-weight: 700;
text-decoration-line: underline;
padding-top: 32px;
}
.pink-bg-color{
    background: rgba(167, 33, 98, 0.15);
}
.sky-bg-color{
    background: rgba(5, 151, 160, 0.15);
}
.mint-bg-color{
    background: rgba(71, 125, 17, 0.15);
}
main>div{
    height: 100vh;
}